nav {
    margin: 20px;
    a {
        color: #fff;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        border-radius: 30px;
    }
}

.home {
    padding: 40px;
    border: 1px solid #ccc;
    margin: 20px;
    border-radius: 20px;
}