<div [formGroup]="formGroup">
    <h1>{{title}}</h1>
    <mat-form-field *ngFor="let field of fields">
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [type]="field.type" [formControlName]="field.name" />
        <mat-error *ngIf="formGroup.get(field.name)?.hasError('required')">Campo obrigatório</mat-error>
    </mat-form-field>
    <div class="buttonContainer">
        <button mat-raised-button color="primary" (click)="onSaveClick()">Salvar</button>
        <button *ngIf="formGroup.get('id')?.value" mat-raised-button color="warn" (click)="onCancelClick()">Cancelar</button>
    </div>
</div>